.cabeçalho_menou=hunburger{
    width: 24px;
    height: 24px;
    background-image:
    url(../Img/Menu.sgv);
    backgroud-repeat:mo-repeat;
    background-position:center;
    display: inline-block;